<footer class="container-fluid" style="border-top: 1px solid #dee2e6;">
  <div class="row py-5">
    <div class="col-md-3 offset-md-1">
      <p class="text-muted mt-3">The Shopify App</p>
      <small class="d-block mb-3 text-muted">© Copyright 2020 by Open Eye Signal, LLC. <br>All rights reserved.</small>
    </div>
    <div class="col-md-2 offset-md-1">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li class="my-2"><a class="text-muted" href="/contact">Contact Us</a></li>
        <li class="my-2"><a class="text-muted" href="/privacy">Privacy</a></li>
        <li class="my-2"><a class="text-muted" href="/terms">Terms</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="my-2"><a class="text-muted" href="/pricing">Pricing</a></li>
        <li class="my-2"><a class="text-muted" href="/features">Features</a></li>
        <li class="my-2"><a class="text-muted" href="/faq">FAQ</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h5>Examples</h5>
      <ul class="list-unstyled text-small">
        <li class="my-2"><a class="text-muted" href="/examples#in-store">Example Link</a></li>
      </ul>
    </div>
  </div>
</footer>