<div class="container">
  <div class="row my-5">
    <div class="col-md-6 offset-md-3">
      <h1>Contact</h1>
      <p>Use the form below to send us a message. We'll get back to you ASAP (usually within a couple of hours)</p>
      <form action="https://formspree.io/myyneakg" method="POST">
        <div class="form-group">
          <label>Your email</label>
          <input placeholder="david@beckham.com" class="form-control" type="text" name="_replyto">
        </div>
        <div class="form-group">
          <label>Your message</label>
          <textarea placeholder="Enter message here..." class="form-control" name="message"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>