<div class="container bg-white" style="margin-bottom: 100px;">
  <div class="row mt-5">
    <div class="col-md-8">
      <h1>Examples</h1>
      <p>Below you'll find examples of how The Shop Calendar can be used by your Shopify store. We give you the freedom to use the calendar for your needs. Create events to highlight promotions, in-store events, giveaways and so much more.</p>
      <p>Scale your browser to check out the 📱 mobile, tablet and 💻  🖥️ &nbsp;desktop view.</p>
    </div>
  </div>

  <div class="row mt-3 mb-5" id="in-store">
    <div class="col-md-12">
      <div class="border p-3">
        <h3>In-Store Events</h3>
        <iframe class="mt-4" src="<%= in_store_calendar_url %>" frameborder="0" height="575" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>

  <div class="row my-5" id="product-release">
    <div class="col-md-12">
      <div class="border p-3">
        <h3>Product Release</h3>
        <iframe class="mt-4" src="<%= product_release_calendar_url %>" frameborder="0" height="575" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>

  <div class="row my-5" id="multi-purpose">
    <div class="col-md-12">
      <div class="border p-3">
        <h3>Multi-Purpose</h3>
        <iframe class="mt-4" src="<%= multi_purpose_calendar_url %>" frameborder="0" height="575" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>

  <div class="row my-5" id="promotional">
    <div class="col-md-12">
      <div class="border p-3">
        <h3>Promotional</h3>
        <iframe class="mt-4" src="<%= promotional_calendar_url %>" frameborder="0" height="575" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>
</div>