<div class="row my-5">
  <div class="col-md-12">
    <div class="row text-center">
      <div class="col">
        <h1>Frequently Asked Questions</h1>
      </div>
    </div>
    
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="">
          <h4>Can I make more than one calendar?</h4>
          <p>As of right now, we give each Store 1 calendar. If we see enough demand to create more than 1 calendar per store, we'll build it 😊</p>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="">
          <h4>Do you offer annual plans?</h4>
          <p>Yes, contact us directly and we'll set you up for a year. We'll give you $10 off if you sign up for our annual plan so $50 per year.</p>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="mb-4">
          <h4>Do you help customers install the calendar?</h4>
          <p>Yes! If you need help installing the calendar, give us a shout! While we think it's pretty easy (1-minute or less if you follow our guide) - we know some people just want the peace of mind.</p>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <div class="mb-4">
          <h4>Can I sell tickets for my events?</h4>
          <p>No. We recommend using a event registration platform like Eventbrite to do this.</p>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <div class="mb-4">
          <h4>Can I connect my calendar from Google Calendar, Apple Calendar or Outlook?</h4>
          <p>Soon. We have this working in our local development environment - but we aren't comfortable with the experience it provides yet. Give us a few months to make this more seamless for you!</p>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <div class="mb-4">
            <h4>Does The Shop Calendar work for any other eCommerce platforms like WooCommerce, BigCommerce, Magento?</h4>
            <p>No. As of right now we only integrate with Shopify. Eventually we want to expand, but we want to put our focus on one marketplace right now.</p>
        </div>
      </div>
    </div>
  </div>
</div>